html {
  position: relative;
  min-height: 100%;
}

.register ~ footer.section,
.login ~ footer.section,
.reset ~ footer.section,
.password ~ footer.section {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cut-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cover-image {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.home .cover h1,
.home p { color: #000 !important; }
.home span,
.home a { color: #fff !important; }
.home a:hover { color: #000 !important; }

.cover .navbar { background-color: rgba(0, 0, 0, .2) !important; }

a:hover,
a:focus,
a:active { text-decoration: none !important; }

.radio + .radio, .checkbox + .checkbox { margin-top: 10px; }

.card-shop {
  margin-bottom: 20px;
  background: #fff;
  /*margin: 0 1% 2% 1%;*/
  /*width: 23%;*/
  padding: 14px;
  /*display: inline-block;*/
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;
}

a:nth-child(4n) .card-shop {
  margin-right: 0;
}

a:nth-child(4n+1) .card-shop {
  margin-left: 0;
}

.card-shop p {
  color: #263238;
}

@media (max-width: 480px) {
  .col-xs-6 {
    width: 100%;
  }

  .search.index input,
  .search.index label { width: 100% !important; }
}